/* Variables de color */
:root {
    --color-primary: #4494ff;
    --color-primary-2: #e0d110;
    --color-primary-3: #1c4789;
    --color-primary-4: #fffde1;
    --color-primary-5: #94481c;
    --color-primary-6: #fcd34d;
}

/* Estilos generales */
body {
    background-color: var(--color-primary-4);
    font-family: Arial, sans-serif;
    color: var(--color-primary-3);
    font-weight: 400;
    font-size: 17px;
    line-height: 1.8;
    overflow-x: hidden !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    transition: all .3s ease-out;
}

img.fluid {
    width: 30%;
    height: auto;
}



/* Navbar */

/* Estilos generales para la navbar */
.navbar {
    background-color: var(--color-primary-6); /* Color de fondo de la barra de navegación */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil debajo de la barra */
    padding: 1rem 3rem; /* Espaciado interno ajustado */
    width: 100%; 
    max-width: none; /* Quita cualquier restricción de ancho máximo */
    position: relative; /* Necesario para posicionar el pseudo-elemento */
    border-radius: 10px; /* Esquinas redondeadas del contenedor */
    overflow: hidden; /* Asegura que el borde no sobresalga del contenedor */
}

.navbar::before {
    content: ""; /* Necesario para el pseudo-elemento */
    position: absolute; /* Posiciona el pseudo-elemento encima del navbar */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 5px solid white; /* Bordes blancos */
    border-radius: 10px; /* Esquinas redondeadas del borde */
    pointer-events: none; /* Asegura que el pseudo-elemento no interfiera con la interacción del usuario */
    box-sizing: border-box; /* Asegura que el borde se incluya en el tamaño del contenedor */
}


.navbar-brand {
    font-size: 2rem; /* Ajuste del tamaño de la fuente */
    font-weight: bold;
    color: var(--color-primary-3);
    text-transform: uppercase;
}

.nav-link {
    color: var(--color-primary-3);
    font-weight: 500;
    padding: 10px 30px; /* Ajuste del padding */
    transition: color 0.3s ease, transform 0.3s ease;
    text-transform: uppercase;
}


.navbar-toggler {
    border: none;
    background: none;
    outline: none;
    transition: transform 0.3s ease;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml,...'); /* Icono de menú de hamburguesa, reemplaza con tu SVG */
    background-repeat: no-repeat;
    background-size: 1.25em 1.25em;
}

.navbar-toggler:hover {
    transform: rotate(90deg); /* Rotación del ícono de menú al pasar el cursor */
}


.nav-link:hover {
    color: var(--color-primary-2); /* Color al pasar el cursor */
    transform: translateY(-3px); /* Movimiento hacia arriba al hacer hover */
}

/* Estilos para el menú colapsable */
.collapse {
    display: flex;
    justify-content: flex-end;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 20px;
}

/* Animaciones */

.animate__animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animate__fadeInLeft {
    animation-name: fadeInLeft;
}

.animate__fadeInRight {
    animation-name: fadeInRight;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*Hero y Video*/
.tagline {
    font-size: 2rem;
    color: var(--color-primary-2);
    font-weight: bold;
    background-color: var(--color-primary-4);
    padding: 10px;
    border-radius: 8px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}
/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: var(--color-primary-2);
    text-align: center;
}
.container {
    max-width: 1200px; /* Ajusta según el ancho deseado */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 0 15px; /* Espaciado interno para el contenedor */
}

/* Estilos para el texto */
.hero-content {
    padding: 20px;
}
.hero-text {
    max-width: 50%;
    color: var(--color-primary-5);
    display: flex;
    align-items: center;
    text-align: center; /* Alinea el texto al centro */
}

.hero-area-v2 {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fcd34d;
    overflow: hidden; /* Asegura que los elementos no se desborden */
}

/* Ajuste para el texto del héroe */
.hero-title {
    font-size: 2.5rem; /* Tamaño de fuente dinámico */
    text-align: center; /* Alinea el texto al centro */
    margin-bottom: 10px;
    margin: 0 auto;
}

.hero-subtitle {
    font-size: 1.25rem;
    text-align: center; /* Alinea el texto al centro */
    margin: 0 auto;
}

/* Ajuste para la imagen del héroe */
.hero-image img {
    max-width: 100%; /* Ajusta la imagen al contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

/* Diseño en Flexbox para el video e Instagram */
.combined-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Estilos para el bloque de Instagram */
.instagram-media {
    flex: 1 1 100%; /* Toma el 100% del ancho en pantallas pequeñas */
    margin-top: 20px;
    max-width: 100%; /* Asegura que no se desborde del contenedor */
    display: flex; /* Centra el bloque de Instagram */
    justify-content: center;
}

/* Estilos para la imagen de Instagram */
.instagram-media img {
    width: 100%; /* Ajusta el tamaño de la imagen de Instagram */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
}

/* Estilos para el contenedor del video */
.video-responsive-container {
    position: relative;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    margin: auto; /* Centra el contenedor */
    flex: 1 1 100%; /* Toma el 100% del ancho en pantallas pequeñas */
}

/* Estilos para el iframe del video */
.video-responsive-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}



/* ABout 1*/

#about .section-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

#about .section-background {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: auto;
    margin-right: auto;
}

#about .section-background:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#about .section-background h2 {
    margin-top: 0;
}

#about .section-background p {
    font-size: 1.1rem;
    line-height: 1.6;
}

#about .img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

#about .img-fluid:hover {
    transform: scale(1.05);
}

/* Estilos de Enlaces */
#about .link {
    color: var(--color-primary-3);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

#about .link:hover {
    text-decoration: underline;
    color: var(--color-primary-2);
}




/* Estilos de carrusel */

#armadillo .section-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

#armadillo .section-background {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: auto;
    margin-right: auto;
}

#armadillo .section-background:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#armadillo .section-background h2 {
    margin-top: 0;
}

#armadillo .section-background p {
    font-size: 1.1rem;
    line-height: 1.6;
}

#armadillo .img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

#armadillo .img-fluid:hover {
    transform: scale(1.05);
}

/* Estilos de Enlaces */
#armadillo .link {
    color: var(--color-primary-3);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

#armadillo .link:hover {
    text-decoration: underline;
    color: var(--color-primary-2);
}


.extra-lines {
    font-size: 1.1rem;
    margin-top: 1rem;
}


.main-content img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}




/* Estilos generales para el contenedor de la sección | Tarjetas*/

/* Estilos para la sección del equipo */
/* Estilos para la sección del equipo */
.team-section {
    background-color: #f9f9f9; /* Color de fondo de la sección */
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1200px;
    margin: 0 auto;
}

.team-container {
    background-color: var(--color-primary-6); /* Fondo blanco del contenedor de tarjetas */
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.team-section h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--color-primary-3);
}

/* Contenedor de las tarjetas */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

/* Estilos de las tarjetas */
.team-member {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: var(--color-primary-3); /* Fondo blanco detrás de las tarjetas */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    perspective: 1000px; /* Profundidad de perspectiva para el giro */
}

/* Estilos del contenedor de la tarjeta */
.flip-card {
    width: 100%;
    height: 100%;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.team-member:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px; /* Bordes redondeados para que coincidan con el contenedor */
    overflow: hidden;
}

.flip-card-front {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff; /* Fondo blanco para la parte delantera */
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flip-card-back {
    background-color: var(--color-primary-5); /* Color de fondo de la parte trasera */
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
}

.back-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.armadillo-img {
    background-color: var(--color-primary-4); /* Color del círculo del armadillo */
    border-radius: 70%;
    padding: 10px;
    margin-bottom: 3px;
}

.armadillo-img img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.info .name {
    font-size: 1.5rem;
    font-weight: bold;
}

.info .position {
    font-size: 1.3rem;
    margin: 1px 1px;
}

.info .linkedin-icon {
    color: white;
    font-size: 2.5rem;
}


.bg-blue {
    background-color: #4494ff;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-white-color {
    color: #fff;
}
.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    width: 100%;
}
.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 1rem;
    text-align: center;
}
.footer-detail {
    text-align: center;
    max-width: 250px;
    margin: auto;
}
.footer-social ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}
.footer-social ul li {
    list-style: none;
    font-size: 1rem;
}
.footer-social ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}
.footer-social ul li a:hover {
    color: #e0d110; /* Color primario-2 */
}
.footer-social ul li i {
    margin-right: 10px;
    font-size: 1.5rem;
}
.footer-list ul {
    list-style: none;
    padding: 0;
}
.footer-list li {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}
.footer-list a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}
.footer-list a:hover {
    color: #e0d110;
    text-decoration: underline;
}
.footer-logo {
    width: 200px;
    margin-bottom: 1rem;
}
.footer-copyright {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 0.9rem;
    color: #fff;
}
.footer-pattern {
    background-size: cover;
    height: 50px;
    background-position: center;
    margin-top: 1rem;
}

.link-underline {
    color: #ff0000; 
}


/* Ajustes de la animación */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.text-content {
    animation: fadeIn 2s ease-in-out;
}

.bg-blue {
    background-color: #4494ff;
    padding: 2rem;
}
.social-logo {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
}

footer {
    background: var(--color-primary-3);
    color: var(--color-primary-4);
    padding: 10px 0;
    text-align: center;
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-cs-bold);
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-heading);
    margin: 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: var(--color-heading);
}



.common-heading {
    margin-bottom: 50px; 
}


/* rss*/

#rrss {
    background-color: #f5f5f5; /* Fondo claro para la sección */
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1200px;
    margin: 0 auto;

}

#rrss .card {
    border-radius: 10px;
    min-height: 400px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#rrss .card .card-header {
    background-color: transparent;
    border-bottom: none;
    padding: 20px;
}

#rrss .card .logo-social {
    margin-bottom: 10px; /* Espacio debajo del logo */
}

#rrss .card .logo-social img {
    max-width: 160px; /* Tamaño del logo */
    height: auto;
}

#rrss .card .social-link {
    opacity: .8;
    transition: opacity .2s ease-in-out;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}

#rrss .card .social-link:hover {
    opacity: 1;
}

#rrss .card-facebook {
    background-color: #1778f2;
}

#rrss .card-linkedin {
    background-color: #2078c3;
}

#rrss .card-youtube {
    background-color: #ff0000;
}

#rrss .card-tiktok {
    background-color: #000000;
}

.row.mb-4 {
    margin-bottom: 2rem; /* Ajusta el espacio inferior de la fila */
}

/* Responsive */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-title {
        font-size: 2rem; /* Ajuste para pantallas pequeñas */
    }

    .hero-subtitle {
        font-size: 1rem;
    }

    .hero-text, .hero-video {
        max-width: 100%;
    }

    .video-responsive-container {
        padding-bottom: 75%; /* Ajuste para pantallas pequeñas */
    }

    #about .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #rrss .card {
        flex: 1 1 100%; /* En pantallas pequeñas, las tarjetas ocupan todo el ancho */
    }

    #rrss .row {
        flex-direction: column; /* Asegura que los elementos estén en columna en pantallas pequeñas */
    }

    #rrss .card-social {
        width: 100%; /* Asegura que las tarjetas ocupen todo el ancho disponible */
        margin-bottom: 15px; /* Añade margen inferior para espaciado entre tarjetas */
    }
}


@media (max-width: 576px) {
    nav ul {
        flex-direction: column;
    }

    .card, .circular-card {
        width: 100%;
    }

    .video-responsive-container {
        padding-bottom: 75%; /* Ajuste para pantallas muy pequeñas */
    }

    #rrss .card-social {
        margin-bottom: 15px; /* Añade margen inferior para espaciado entre tarjetas */
    }
}







/* Border Styles */
.border-bottom-primary {
    border-bottom: 1px solid rgba(71, 59, 240, .1);
}

.border-top-primary {
    border-top: 1px solid rgba(71, 59, 240, .1);
}

.border-bottom-primary-3 {
    border-bottom: 1px solid rgba(233, 94, 108, .12);
}

.border-top-primary-3 {
    border-top: 1px solid rgba(233, 94, 108, .12);
}

.border-bottom-off-white {
    border-bottom: 2px solid rgba(255, 255, 255, .1);
}

.border-top-off-white {
    border-top: 2px solid rgba(255, 255, 255, .1);
}

.border-top-secondary {
    border-top: 1px solid rgba(22, 28, 45, .1);
}

.border-bottom-secondary {
    border-bottom: 1px solid rgba(22, 28, 45, .1);
}


